<!DOCTYPE html>
<html>
    <head>
        <style>
            h3 {
                color:rgb(159, 159, 182);
                text-align: center;
            }
        </style>
    </head>
    <body>
        {{>header}}
        <h3>Welcome to my weather application</h3><hr>
        <img src="https://i.pinimg.com/originals/77/4a/13/774a13aa1578b889b840dbbcb602b8f4.jpg">
    </body>
</html>