<!DOCTYPE html>
<html>
    <head>
        <style>
            h3 {
                color:rgb(159, 159, 182);
                text-align: center;
            }
            p {
                color:rgb(89, 89, 97);
                text-align: center;

            }
        </style>
    </head>
    <body>
        {{>header}}
        <h3>The weather today</h3>
        <p>Tempreture's today is : {{temp}} &#8451;</p>
        <p>Description of the temp: {{desc}} </p>
    </body>
</html>